/* Lista de Variaveis */

:root {
    --brand-1: #4263eb;
    --brand-2: #364fc7;
    --gray0: #0a0c0d;
    --gray1: #212529;
    --gray2: #495057;
    --gray3: #868e96;
    --gray4: #DEE2E6;
    --gray5: #F8F9FA;
    --gray-opacity-1: rgba(33, 37, 41, 0.5);
    --WhiteFixed: #ffffff;    
    --text-font-weight: 400;

    --title1-font-weight: 700;
    --title1-font-size: 1.75rem;
    --title1-line-height: 2.5rem;
    --title2-font-weight: 600;
    --title2-font-size: 1.25rem;
    --title2-line-height: 1.5rem;
       
    --text1-font-size: 1rem;
    --text1-line-height: 1.75rem;

    --text2-font-size: 0,875rem;
    --text2-line-height: 1rem;

    --text2Bold-font-weight: 600rem;
    --text2Bold-font-size: var(--text2-font-size);

    --text3-font-size: 0.75rem;
    --text3-line-height: 1rem;

    
}